UIPickerView and bidirectionalBind()

First off thanks for adding @jonathanfoster 's [PR (source binding extension for UIPickerView)](https://github.com/DeclarativeHub/Bond/pull/590) to Bond. I think it's really useful when using UIPickerView often.

### Discussion
I was wondering if there would be a way to use bidirectionalBind() with UIPickerView.

Similar to the issue I posted on the Binder Architecture, I am dealing with recurrence / repeating rules for events. Users will either create new recurrence rules or edit the existing one for the current event.
In order to achieve that I am breaking the rule (a String, as per [RFC 5545 section 3.3.10](https://tools.ietf.org/html/rfc5545#section-3.3.10)) into rule parts. Each rule part is then broken down into a specific Signal. For example : 

```
public let frequency = Observable<RecurrenceFrequency>(.DAILY)
```
where we've defined RecurrenceFrequency as : 

```
public enum RecurrenceFrequency: String, CaseIterable {
    case DAILY
    case WEEKLY
    case MONTHLY
    case YEARLY
}
```

Each of those rule parts is represented by a specific subview in the Rule Editing screen. For example, the frequency is represented by a UIPicker -- which is bound to a data source created from the collection of all the values of the type `RecurrenceFrequency` : 

```
        /// The frequency data source is used to populate the values of the Frequency Picker view.
        let frequencyDataSource = ObservableArray(RecurrenceFrequency.allCases)

        // We populate the values of the Frequency Picker view.
        frequencyDataSource
            .bind(to: controller.frequencyPicker)
```

This works really well otb thanks to  @jonathanfoster 's code. However to initialize the picker view with the initial value found in the `frequency` observable and to update that observable when the picker selection has changed, I currently need to use 2 different bindings : 

```
        // We populate the values of the Frequency Picker view.
        frequencyDataSource
            .bind(to: controller.frequencyPicker)

        // The chosen value for the Frequency UIPickerView is fed back to the
        // frequency signal (which is then fed to the Frequency Label)
        controller.frequencyPicker.reactive
            .selectedRow
            .map { frequencyDataSource.collection[$0.0] }
            .bind(to: recurrenceService.frequency)
```

This works. However it feels, to me, that it would make more sense to use some form of bidirectionalBind (with bidirectionalMap) to bind the frequency and the picker's selection together, i.e. : 

```
        recurrenceService.frequency
            .bidirectionalMap(to: <#T##(RecurrenceFrequency) -> U#>, from: <#T##(U) -> RecurrenceFrequency#>)
            .bidirectionalBind(to: <#T##BindableProtocol & SignalProtocol#>)
```

### Proposed solution
Would it make sense to add some variable similar to what UIDatePicker defines, which can be bound to bidirectionally ? Like so, but with <Int, Int> for the row and component of a UIPickerView : 

```
    public var date: DynamicSubject<Date> {
        return dynamicSubject(
            signal: controlEvents(.valueChanged).eraseType(),
            get: { $0.date },
            set: { $0.date = $1 }
        )
    }
```